/* 末尾のおすすめ記事 */
.recommend{
 background-color:#fffaf0;
 border:solid 2px #ff0000;
 padding:5px;
 margin: 5px;
 border-radius:5px;
 font-size: 1.1em;
}

.recommend li:before {
    content: "\f0a9";
    font-family: FontAwesome;
    color: #f14017;
    margin-right: 0.5em;
}

.recommend li{
    list-style: none;
}